body {
    background: #040221
}

#video {
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

#video.hidden {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

canvas {
    position: absolute;
    z-index: 0;
    /*background: #ff0000;*/
}


/* COPY PASTE */

.kuva_video {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}